
.updateOrderForm {
    margin: 5vmax;
    padding: 3vmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.updateOrderForm > div {
    display: flex;
    width: 100%;
    align-items: center;
}

.updateOrderForm > div > select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    margin: 2rem 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.updateOrderForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font: 1.6vmax;
    color: rgba(0, 0, 0, 0.6);
}

.confirmCartItemContainer{
    margin: 2vmax 0;
    
    
}

.confirmCartItemContainer > div {
    height: 15vmax;
    display: flex;
    align-items: center;
}

.confirmCartItemContainer > div > img {
    height: 15vmax;
}

@media screen and (max-width: 600px) {

    .updateOrderForm{
        padding: 5vmax;
    }

    .updateOrderForm > div > select {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }

    .updateOrderForm > div > svg {
        font-size: 2.8vmax;
    }

    .confirmCartItempxContainer > div  > span{
        font-size: 22px;
    }

}
